<div class="container">
	<h1 class="text-center title-course-new">Crear Nuevo Articulo</h1>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= render 'form', article: @article, name: "Crear" %>
		</div>
	</div>
</div>
