<% provide(:title, "Campus Virtual") %>
<div id="welconme-body" class="col-md-12">

    <div class="col-sm-4 col-sm-offset-1">

		<div class="form-top">
			<div class="text-center">
		    	<h2 class="register">Crea tu cuenta</h2>
		  	</div>
		 </div>

		<div class="form-bottom">
			<%= render 'users/create_account/form', user: @user %>
		</div>

    </div>
</div>   

