<!--footer-->
	<footer class="footer" id="footer">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-6 col-md-offset-3 text-center">
				
					<h3>Encuéntranos en:</h3>

						
					<div class="social-networks">
			
					    <a href="https://co.linkedin.com/" target="_blank">
					    	<img src="/assets/linkedin.png"
					    	alt="Linkedin" title="Linkedin">
					    </a>
		
					  	<a href="" target="_blank">
					    	<img src="/assets/instagram.png"
					    	alt="Instragram" title="Instragram">
					    </a>
		
					  	<a href="" target="_blank">
					    	<img src="/assets/google-ico.png"  alt="Google +" title="Google +">
					    </a>
		
					  	<a href="https://www.youtube.com/channel/UC46NtNXYjUv30yTsvxSlNNw" target="_blank">
					    	<img src="/assets/youtube-ico.png" alt="Youtube" title="Youtube">
					    </a>
		
						<a href="https://twitter.com/UnivalleSedeTul" target="_blank">
					    	<img src="/assets/twitter-ico.png" alt="Twitter" title="Twitter">
					    </a><!--twitter-->
		
					  	<a href="https://www.facebook.com/UnivalleTulua/?hc_ref=ARTk04YpNrOkrqVLqHHzPCxBnxpgLYeEHxpj-zWj-ptpObEdVwAOhxNOWXU3nARezVg" target="_blank">
					    	<img src="/assets/facebook-ico.png" alt="Facebook" title="Facebook">   
					    </a>
					</div>
			
				
					<div class="contact">
							<br>
							<p>
							PBX  +57 2 2241816-17 - Info : (+61) (1) 9974221 / 0333 518889
							<br>
							Villa Campestre Calle 43 No 43-33 Tulua-Colombia
							<br>
							<span class="ico-maps">
								<a href="">
								<img src="/assets/google_maps.png" alt="Google maps" title="Google maps">
								</a>
							</span>
							
							<a href=""> | Términos de uso</a>    
							<a href=""> | Mapa del sitio  </a>
							<a href=""> | Acreditaciones</a>
				
							</p>
					</div>
				

					<div class="apps">
							<div class="google-play col-xs-6 col-md-6 text-right">
								<a href="" target="_blank">
								<img src="/assets/google-play.png" alt="Google Play" title="Google Play"  border="0">
								</a>
							</div>
			
							<div class="app-store col-xs-6 col-md-6 text-left">
								<a href="" target="_blank">
								<img src="/assets/app-store.png" alt="App Store" title="App Store"  border="0">
								</a>

							</div>
					</div>

				</div>
			</div>


		</div>

	</footer>
	<!--footer end--> 